.welcome {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

/*ホームに戻るボタンはUserInfoChangeFinを参考*/